# Ignore build output
bin/
obj/
.vs/

# Ignore user secrets and local settings
appsettings.json
appsettings.Development.json
AspNetWebApp/Properties/launchSettings.json

# Ignore VS Code settings
.vscode/settings.json
.vscode/tasks.json